.s-lc-mhw-tb {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
}
.s-lc-mhw-tb th,
.s-lc-mhw-tb td {
  border: 1px solid #ddd;
  vertical-align: top;
}
.s-lc-mhw-tb thead {
  background-color: #f5f5f5;
}
.s-lc-mhw-header {
  text-align: center;
}
.s-lc-mhw-header-date {
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  font-size: 130%;
}
.s-lc-mhw-days td {
  text-align: center;
  font-weight: bold;
  min-width: 14.28%;
  max-width: 14.28%;
  width: 14.28%;
}
.s-lc-mhw-day-l {
  color: #555;
  text-align: right;
  padding: 2px;
  font-size: 16px;
  font-weight: bold;
}
.s-lc-mhw-cells {
  height: 50px;
}
.s-lc-mhw-fnc {
  color: #555;
}
.s-lc-mhw-loc {
  font-size: 14px;
  padding: 2px;
}

.s-lc-mhw-loc-name {
  font-size: 16px;
  font-weight: 500;
}

.s-lc-mhw-sub-loc {
  margin-top: 8px;
  margin-left: 8px;
}

.s-lc-note:after {
  content: ")";
}

.s-lc-note:before {
  content: "(";
}
